<nav>
  <header class="navbar-container">
    <img src="/assets/img/yasmin_lopes_logo_wv.svg" alt="" />
    <div class="menu-toggle">
      <button (click)="toggleMenu()">
        <span class="material-symbols-outlined">{{
          isMenuOpen ? "close" : "menu"
        }}</span>
      </button>
    </div>
    <div class="nav-items" [ngClass]="{ show: isMenuOpen }">
      <ul>
        <app-button
          title="Contato"
          icon="favorite"
          [outlined]="true"
          color="primary"
          bgColor="white"
        ></app-button>
      </ul>
    </div>
  </header>
</nav>
