@import "../../../assets/styles/colors";

.button {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  display: flex;
  gap: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  transition: all 0.2s ease;

  &.outlined {
    background-color: transparent;
  }

  &.primary {
    border-color: $primary-01;
    color: $primary-01;

    &:hover {
      background-color: $primary-01;
      color: $neutral-01;
      
    }
  }

  &.secondary {
    border-color: $secondary-01;
    color: $secondary-01;

    &:hover {
      background-color: $secondary-01;
      color: $neutral-03;
    }
  }

  &.success {
    border-color: $success-01;
    color: $success-01;

    &:hover {
      background-color: $success-01;
      color: $neutral-01;
    }
  }

  &.danger {
    border-color: $danger-01;
    color: $danger-01;

    &:hover {
      background-color: $danger-01;
      color: $neutral-01;
    }
  }

  &.warning {
    border-color: $warning-01;
    color: $warning-01;

    &:hover {
      background-color: $warning-01;
      color: $neutral-01;
    }
