$primary-01: #5e60ce;
$primary-02: #6c6eeb;
$primary-03: #20214f;

$secondary-01: #ced4da;
$secondary-02: #f1f3f5;

$success-01: #21a675;
$success-02: #d5eed8;

$danger-01: #cb2431;
$danger-02: #f8d7da;

$warning-01: #ff8c00;
$warning-02: #ffe5cc;

$info-01: #17a2b8;
$info-02: #d1ecf1;

$neutral-01: #f5f5f5;
$neutral-02: #a7a7a7;
$neutral-03: #343a40;
$neutral-04: #1b1c22;
$neutral-05: #0d0d14;
